.wrapper:first-of-type {
  padding-top: 70px;
}

#footer {
  border-top: 1px solid rgb(201, 201, 201);
}

@media screen and (max-width: 540px) {
  .wrapper.home {
    padding: 15px!important;
  }

  .wrapper:first-of-type {
    padding-top: 30px;
  }

  .post {
    padding: 0px;
  }

  .profile #header {
    padding-bottom: 0px;
  }

  blockquote {
    padding: 0 0.3rem 0 0.8rem;
    border-left: 2px solid #5badf0;
    margin-inline-start: 0.3rem;
  }
}

.post h2 {
  font-weight: bold;
  color: #333;
}

nav.main-nav {
  z-index: 1500 !important;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.12);
}

#post-nav a {
  font: 500 17px/1.8 "Helvetica Neue", helvetica, Arial, sans-serif;
}

@media screen and (max-width: 540px) {
  nav .hide-on-mobile {
    display: none;
  }
}

ul {
  margin-bottom: 20px;
}

pre {
    font-family: Menlo, Monaco, Courier;
    font-size: 14px;
    font-weight: normal;
    background-color: #f5f2f0;
    padding: .5rem;
    box-shadow: inset 0 0 0 1px #E4EBF2;
    border-radius: 3px;
    margin: .5em 0;
}

code {
    font-family: Menlo, Monaco, Courier;
    font-size: 14px;
    font-weight: normal;
    background-color: #f5f2f0 !important;
    border-radius: 3px;
    padding: 0.4rem;
}


.post h2.headline {
  color: #555;
  font-size: 1rem;
}

.archive .post-link {
  color: #333
}

a.symbol {
  color: #555
}

a.symbol:hover {
  color: #5badf0;
}

p.small {
  color: #555
}

nav .cta:hover {
  border-radius: 3px;
  color: #5badf0;
}
