.wrapper:first-of-type {
  padding-top: 60px;
}

#footer {
  border-top: 1px solid rgb(201, 201, 201);
}

@media screen and (max-width: 540px) {
  .wrapper.home {
    padding: 15px!important;
  }

  .post {
    padding: 0px;
  }
}

.post h2 {
  font-weight: bold;
  color: #333;
}

nav {
  z-index: 1500 !important;
}

ul {
  margin-bottom: 20px;
}

pre {
    font-family: Menlo, Monaco, Courier;
    font-size: 14px;
    font-weight: normal;
    background-color: #f5f2f0;
    padding: .5rem;
    box-shadow: inset 0 0 0 1px #E4EBF2;
    border-radius: 3px;
    margin: .5em 0;
}

code {
    font-family: Menlo, Monaco, Courier;
    font-size: 14px;
    font-weight: normal;
    background-color: #f5f2f0 !important;
    border-radius: 3px;
    padding: 0.4rem;
}


.post h2.headline {
  color: #555;
  font-size: 1rem;
}

.archive .post-link {
  color: #333
}
