<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>

{{ if .IsHome }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js" integrity="sha512-fB746S+jyTdN2LSWbYSGP2amFYId226wpOeV4ApumcDpIttPxvk1ZPOgnwqwQziRAtZkiFJVx9F64GLAtoIlCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/95/three.min.js"
  integrity="sha256-vFzNWn4/CV8bcseS+P4Zwq4PCmXAc0ZD0MkcyGXEqLA=" crossorigin="anonymous"></script>

<script src="/js/vendor/three.js/WebGL.js"></script>
<script src="/js/vendor/three.js/stats.min.js"></script>
<script src="/js/home.bundle.js"></script>
{{ else }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js" integrity="sha256-3SFEu3qBPVRitcXI7ITnBKtwkYmoqF7ap4xI5dEexaY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js" integrity="sha256-tvm0lHsuUZcOfj/0C9xJTU4OQx5KpUgxUcAXLX5kvwA="
  crossorigin="anonymous"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="/js/blog.bundle.js"></script>
{{ end }}

<script src="/js/main.js"></script>

{{ if .Site.Params.enableGoogleAnalytics }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  if(localStorage.getItem('no_tracking')) {
    ga('set', 'dimension1', 'true');
  }
  ga('create', 'UA-62762041-1', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/6.6.1/firebase-app.js"></script>
<script src="/__/firebase/6.6.1/firebase-performance.js"></script>
<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
<script>
  var perf = firebase.performance();
  // ...
</script>
