{{ if .IsHome }}
<nav id="home-nav" class="main-nav">
  <a href='{{ .Site.BaseURL }}' class="nav-logo"> {{ with .Site.Title }}{{ . }}{{ else }}Logo{{ end }}</a>

  <a href='#header'>Blog</a>
  <a href='https://seafile.zihao.me'>Cloud</a>
  <a href='https://github.com/zzh8829?tab=repositories'>GitHub</a>
  <a href='{{ .Site.BaseURL }}resume.pdf'>Resume</a>
  <a href='{{ .Site.BaseURL }}about'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>
</nav>
{{ end }}
<nav id="blog-nav" class="main-nav" >
  {{ $url := replace .Permalink .Site.BaseURL "" }}
  
  {{ if .IsHome }}
  <a href='#demo'>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
  <a href='#header'>Blog</a>
  {{ else }}
  <a href='{{ .Site.BaseURL }}'>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
  <a href='{{ .Site.BaseURL }}#header'>←Blog</a>
  {{ end }}

  {{ if ne $url "post/" }}
    <a href='{{ .Site.BaseURL }}post'>{{ with .Site.Params.archive }}{{ . }}{{ else }}Archive{{ end }}</a>
  {{ end }}

  {{ if ne $url "tags/" }}
    <a href='{{ .Site.BaseURL }}tags'>{{ with .Site.Params.about }}{{ . }}{{ else }}Tags{{ end }}</a>
  {{ end }}

  {{ if ne $url "about/" }}
    <a href='{{ .Site.BaseURL }}about'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>
  {{ end }}

  {{ range $key, $val := .Site.Params.Links }}
    <a href="{{ $val }}">{{ $key }}</a>
  {{ end }}

  {{ if .Site.Params.enableRSS }}
  <a class="cta" href="{{ .Site.RSSLink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}Subscribe{{ end }}</a>
  {{ end }}
</nav>
