{{ if .IsHome }}
<nav id="home-nav" class="main-nav">
  <a href='/' class="nav-logo"> {{ with .Site.Title }}{{ . }}{{ else }}Logo{{ end }}</a>

  <a href='#blog'>Blog</a>
  <a href='https://github.com/zzh8829?tab=repositories' class="hide-on-mobile">GitHub</a>
  <a href='https://linkedin.com/in/zzh8829' class="hide-on-mobile">LinkedIn</a>
  <a href='/resume.pdf'>Resume</a>
  <a href='/about'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>
</nav>
{{ end }}
<nav id="blog-nav" class="main-nav" >
  {{ $url := replace .Permalink .Site.BaseURL "" }}

  {{ if .IsHome }}
    <a href='#craft' id='craft-nav'>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
    <a href='#blog'>Blog</a>
  {{ else }}
    <a href='/'>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
    <a href='/#blog'>←Blog</a>
  {{ end }}

  <a href='/post'>{{ with .Site.Params.archive }}{{ . }}{{ else }}Archive{{ end }}</a>

  <a href='/tags'>{{ with .Site.Params.about }}{{ . }}{{ else }}Tags{{ end }}</a>

  <a href='/about'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>

  {{ range $key, $val := .Site.Params.Links }}
    <a href="{{ $val }}">{{ $key }}</a>
  {{ end }}

  {{ if .Site.Params.enableRSS }}
  <a class="cta hide-on-mobile" href="{{ .Site.RSSLink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}Subscribe{{ end }}</a>
  {{ end }}
</nav>
