  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}

    <div id="demo"> 
        <a href="#header" class="scroll-down"></a>
    </div>

    {{ partial "profile.html" . }}

    <section id="wrapper" class="home">
        {{ partial "post-list.html"  . }}
        {{ partial "pagination.html" . }}
        {{ partial "footer.html"     . }}
    </section>

    {{ partial "js.html" . }}

    <script>
    $(function() {
        $('a[href^="#"]').on('click', function(e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 300);
        });
    });

    var homenav = $('#home-nav');
    var blognav = $('#blog-nav');

    if(homenav.length) {
        if(window.location.hash) {
            homenav.hide();
        } else {
            blognav.hide();
        }

        var scrolling = false;
        var scrollAtBlog = false;

        $(window).scroll(function () {
          return scrolling = true;
        });

        setInterval(function () {
          if (scrolling) {
            scrolling = false;
            if ($(window).scrollTop() > 150) {
              if (!scrollAtBlog) {
                scrollAtBlog = true;
                homenav.hide();
                blognav.show();
              }
            } else {
              if (scrollAtBlog) {
                scrollAtBlog = false;
                blognav.hide();
                homenav.show();
              }
            }
          }
        }, 100);
    }
    </script>
    </body>
</html>
